#container
  .buttonColumn
    .buttons
      .health
        100
      .power
        100
      .shield
        0
      = link_to image_tag('move.png'), "#", :id => "move"
      - @player.normal_cards.each do |card|
        = link_to image_tag(card.image), "#", :id => "card_#{card.id}", :class => "spell normalSpell"
    .buttons
      - @player.legendary_cards.each do |card|
        .legendarySpell
          = link_to card.name[0].upcase, "#", :id => "card_#{card.id}", :title => card.name
  #map
    .images
      = image_tag "stone-1.png"
      = image_tag "dirt.png"
      = image_tag "wizard.png"
      = image_tag "destruction.png"
      = image_tag "goblin.png", :id => "Goblin"
      = image_tag "orc.png", :id => "Orc"
      = image_tag "troll.png", :id => "Troll"
      = image_tag "balrog.png", :id => "Balrog"
    %canvas